<div class="welcome-screen">
<h1 class="title">BudgetApp</h1>
<%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'btn btn-primary' %>
<%= button_to 'Sign up', new_user_registration_path, method: :get, class: 'btn btn-light' %>
</div>