<div id="<%= dom_id category %>" class="category">
  <div class="icon_container"><img src="<%= category.icon %>" class="w-24"></div>
  <div class="category_name"><%= category.name%></div>
  <div>$<%= category.total_amount%></div>
</div>
