<header>
<nav>
  <% if back_url.nil? %>
    <div style="width: 35px"></div>
  <% else %>
    <%= link_to back_url do %>
      <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
  <% end %>
    <h1><%= title %></h1>
    <% if logout %>
      <button>log out</button>
        <i class="fa fa-sign-out fa-2x">
      <% end %>
    <% else %>
      <div style= "width: 35px"></div>
    <% end %>
</nav>
</header>
